.loader {
    background-color: hsl(0,0,40);
    color: hsl(0,0,96);
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__err {
        position: absolute;
        top: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        color: hsl(0,100,70);
    }

    &__content {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        border-right: 4px solid transparent;
        border-top: 4px solid;
        animation: loader linear infinite;
    }
    & .red {
       border-top-color: hsla(320,100,66,.6);
        animation-duration: 1s;
        
    }
    & .green {
        border-top-color: hsla(120,100,66,.6);        
        animation-duration: 1200ms;
    }
    & .blue {
        border-top-color: hsla(220,100,66,.6);
        animation-duration: 1400ms;
        
    }
}

@keyframes loader {
    0%{transform: rotate(0deg);}
    90%{transform: rotate(340deg);}
    100%{transform: rotate(360deg);}
}


